.header {
width: 280px;
height: 100px;
background-color: blue;
}

.footer {
width: 280px;
height: 100px;
background-color: yellow;
}

table, th, td {
border: 1px solid black;
}

#t1 {
background-color: red;
height: 50px;
width: 50px;
}

#t2 {
height: 50px;
width: 50px;
}

#t3 {
background-color: blue;
height: 50px;
width: 50px;
}

#t4 {
height: 50px;
width: 50px;
}

#t5 {
background-color: yellow;
height: 50px;
width: 50px;
}

#t6 {
height: 50px;
width: 50px;
}

#t7 {
background-color: darkolivegreen;
height: 50px;
width: 50px;
}

#t8 {
height: 50px;
width: 50px;
}

#t9 {
background-color: purple;
height: 50px;
width: 50px;
}

#t10 {
height: 50px;
width: 50px;
}

#t11 {
background-color: coral;
height: 50px;
width: 50px;
}

#t12 {
height: 50px;
width: 50px;
}

#t13 {
background-color: aqua;
height: 50px;
width: 50px;
}

#t14 {
height: 50px;
width: 50px;
}

#t15 {
background-color:deeppink;
height: 50px;
width: 50px;
}

#t16 {
height: 50px;
width: 50px;
}

#t17 {
height: 50px;
width: 50px;
}